<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <!-- Define ACCESS_FINE_LOCATION if you will use enableHighAccuracy=true  -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>  
    <!-- Define ACCESS_COARSE_LOCATION if you will use enableHighAccuracy=false  -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application android:usesCleartextTraffic="true" tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning" />
</manifest>
